* {
    padding: 0;
    margin: 0;
}

body {
    background: #feac5e;
    background: -webkit-linear-gradient(to right, #c8c6f1, #92d6e2, #e1bceb);
    background: linear-gradient(to right, #c8c6f1da, #92d6e2a2, #e1bceb9d);
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff00;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}