.frexcard {
    width: 90%;
    margin: auto;
    padding-bottom: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.frexcard>.card {
    margin: 10px;
    width: 40%;
}


.h2title {
    text-align: center;
    margin: 10 auto;
    padding: 10;
    letter-spacing: 10;
    font-size: 30;
}